h1{
    text-align: center;
    font-size: 5em;
    color: white;
}
p{
    font-size: 3em;
    color: white;
}
button{
    font-size: 3em;
    padding: 1em;
}
main{
    text-align: center;

}
html{
    background-image: url(../image/bg.jpg);
}
strong{
    font-size: 3em;
    background-color: black;
    color: #ffffff;
}