/*===Font===*/
@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-Regular.eot');
  src: url('../fonts/Comfortaa-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Comfortaa-Regular.woff2') format('woff2'), url('../fonts/Comfortaa-Regular.woff') format('woff'), url('../fonts/Comfortaa-Regular.ttf') format('truetype'), url('../fonts/Comfortaa-Regular.svg#Comfortaa-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*==========*/
/***********Selectors***********/
html {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#181819), color-stop(#011301), to(#181819));
  background: linear-gradient(#181819, #011301, #181819);
  font-family: 'Comfortaa', sans-serif;
}
body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
h1 {
  text-transform: uppercase;
  color: #1eb600;
  letter-spacing: 2px;
  font-size: 90px;
  position: relative;
}
h2 {
  margin: 0.2em;
  color: #ececed;
  font-size: 3em;
}
p {
  font-size: 2em;
  color: #ececed;
}
footer {
  min-height: 4em;
  width: 100%;
  /*  margin-top: 2em;*/
  background-color: #000000;
}
/*box*/
header {
  position: fixed;
  z-index: 4;
}
main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 5em;
  /*box*/
}
main-h1 {
  position: relative;
  z-index: 2;
}
/**************************************/
.header-burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
}
.header-burger-span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: black;
  left: 5px;
}
.header-burger-span:nth-child(1) {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.header-burger-span:nth-child(3) {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.main {
  margin: 0 5%;
}
.main-content {
  padding-bottom: 1em;
}
.footer-p {
  font-size: 1.2em;
}
.footer-box {
  padding: 2em;
}
/* Скроллбар */
*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: black;
}
*::-webkit-scrollbar-thumb {
  background-color: #88d85c;
  border-radius: 5px;
  border: 3px solid #4f4f4f;
}
/*------------------FORM-----------------*/
.logo {
  width: 200px;
}
.form {
  border: #ececed solid 5px;
  border-radius: 5px;
  padding: 2em;
  background-color: #555555;
}
.form-main {
  margin: 3em 0 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.form-logo {
  margin-bottom: 1em;
}
.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5em;
}
input {
  background-color: gray;
  color: #3dff00;
  border: black solid 1px;
  border-radius: 3px;
}
/*---------------------------------------*/
/*--------------PHOTO GRID---------------*/
.row-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}
.column-photo {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.column-photo img {
  margin-top: 8px;
  vertical-align: middle;
}
@media screen and (max-width: 800px) {
  .column-photo {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column-photo {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}
/*--------------------------------------*/
/* -------------- Slideshow ----------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 10em auto auto auto;
}
.mySlides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #88d85c;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.text {
  color: #ececed;
  font-size: 2em;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numberText {
  color: #9b9b9b;
  font-size: 1.5em;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dots {
  text-align: center;
  padding-bottom: 5em;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #88d85c;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*---------------------------------------*/
/*------------- Collapsible -------------*/
.collapsible {
  background-color: #555;
  color: #88d85c;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 2em;
}
.active,
.collapsible:hover {
  background-color: #2c2c2c;
}
.collapsible:after {
  content: '\002B';
  color: #88d85c;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2212";
}
.content {
  padding: 0 1em;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  background: repeating-linear-gradient(#484848, #29292c);
}
.content-p {
  font-size: 2em;
  color: #ececed;
}
.content-img {
  border: #88d85c solid 3px;
  border-radius: 5px;
  float: left;
  margin-right: 1em;
  width: 170px;
}
.content-strong {
  color: #88d85c;
}
/*---------------------------------------*/
/*-------------- H1 anim ----------------*/
h1:after,
h1:before {
  content: 'Rick and Morty';
  position: absolute;
  top: 0;
  color: #3dff00;
  background-color: #181819;
  overflow: hidden;
}
h1:after {
  left: 2px;
  text-shadow: -2px 0 #cb0000;
  -webkit-animation: glitch1 2s infinite ease;
          animation: glitch1 2s infinite ease;
}
h1:before {
  left: -2px;
  text-shadow: 2px 0 #0029bd;
  -webkit-animation: glitch2 8s infinite ease;
          animation: glitch2 8s infinite ease;
}
/*---------------------------------------*/
/*--------------- BUTTON ----------------*/
#navbar {
  top: 0;
  width: 100%;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  text-align: center;
  padding: 1em;
  background-color: #181819;
  position: fixed;
}
nav ul li a:before,
nav ul li:before,
nav ul li:after {
  content: '';
  position: absolute;
  height: 40%;
  width: 0;
  background-color: #29a900;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
nav ul li {
  position: relative;
  padding: 4px 15px;
  margin: 0 5px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul li a {
  font-size: 24px;
  color: #88d85c;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 10px 5px;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  z-index: 1;
}
nav ul li a:before {
  left: 0;
  bottom: 75%;
}
nav ul li:before {
  right: 0;
  top: 25%;
}
nav ul li:after {
  left: 0;
  bottom: 0;
}
nav ul li:hover a {
  text-shadow: 1px 1px 5px #000;
}
nav ul li:hover a:before {
  width: 100%;
}
nav ul li:hover:before,
nav ul li:hover:after {
  width: 100%;
}
/*---------------------------------------*/
/*===Media===*/
/*1000px min - burger menu*/
@media screen and (max-width: 1000px) {
  .header-burger-btn {
    display: block;
  }
  /*  .menu{
    display: none;
  }*/
}
@media screen and (max-width: 1000px) and (min-width: 900px) {
  h1 {
    font-size: 70px;
  }
  .footer-p {
    font-size: 1.2em;
  }
  nav ul li a {
    font-size: 20px;
  }
}
/*750-900px font-size min, footer*/
@media screen and (max-width: 900px) and (min-width: 750px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 2.5em;
  }
  p,
  .collapsible,
  .content-p {
    font-size: 1.5em;
  }
  .footer-p {
    font-size: 1em;
  }
  .content-img {
    width: 140px;
  }
  nav ul li a {
    font-size: 14px;
  }
}
/*500-750px font-size min, footer*/
@media screen and (max-width: 750px) and (min-width: 500px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 2em;
  }
  p,
  .collapsible,
  .content-p {
    font-size: 1em;
  }
  .footer-p {
    font-size: 0.8em;
  }
  .content-img {
    width: 100px;
  }
  nav ul li a {
    font-size: 10px;
    padding: 2px;
  }
  nav ul li {
    padding: 3px;
    margin: 0 1px;
  }
}
/*320-500px font-size min, footer*/
@media screen and (max-width: 500px) and (min-width: 1px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 1.5em;
  }
  p,
  .collapsible,
  .content-p {
    font-size: 0.7em;
  }
  .footer-p {
    font-size: 0.6em;
  }
  .content-img {
    width: 80px;
  }
  nav ul li a {
    font-size: 6px;
    padding: 1px;
  }
  nav ul li {
    padding: 2px;
    margin: 0;
  }
}
/*===========*/
/*===anim===*/
@-webkit-keyframes glitch1 {
  0% {
    -webkit-clip-path: inset(65% 0 8% 0);
            clip-path: inset(65% 0 8% 0);
  }
  4% {
    -webkit-clip-path: inset(5% 0 70% 0);
            clip-path: inset(5% 0 70% 0);
  }
  8% {
    -webkit-clip-path: inset(60% 0 27% 0);
            clip-path: inset(60% 0 27% 0);
  }
  12% {
    -webkit-clip-path: inset(37% 0 18% 0);
            clip-path: inset(37% 0 18% 0);
  }
  16% {
    -webkit-clip-path: inset(42% 0 13% 0);
            clip-path: inset(42% 0 13% 0);
  }
  20% {
    -webkit-clip-path: inset(46% 0 9% 0);
            clip-path: inset(46% 0 9% 0);
  }
  24% {
    -webkit-clip-path: inset(34% 0 67% 0);
            clip-path: inset(34% 0 67% 0);
  }
  28% {
    -webkit-clip-path: inset(3% 0 26% 0);
            clip-path: inset(3% 0 26% 0);
  }
  32% {
    -webkit-clip-path: inset(2% 0 31% 0);
            clip-path: inset(2% 0 31% 0);
  }
  36% {
    -webkit-clip-path: inset(87% 0 2% 0);
            clip-path: inset(87% 0 2% 0);
  }
  40% {
    -webkit-clip-path: inset(15% 0 47% 0);
            clip-path: inset(15% 0 47% 0);
  }
  44% {
    -webkit-clip-path: inset(97% 0 2% 0);
            clip-path: inset(97% 0 2% 0);
  }
  48% {
    -webkit-clip-path: inset(48% 0 49% 0);
            clip-path: inset(48% 0 49% 0);
  }
  52% {
    -webkit-clip-path: inset(88% 0 11% 0);
            clip-path: inset(88% 0 11% 0);
  }
  56% {
    -webkit-clip-path: inset(31% 0 65% 0);
            clip-path: inset(31% 0 65% 0);
  }
  60% {
    -webkit-clip-path: inset(42% 0 58% 0);
            clip-path: inset(42% 0 58% 0);
  }
  64% {
    -webkit-clip-path: inset(17% 0 76% 0);
            clip-path: inset(17% 0 76% 0);
  }
  68% {
    -webkit-clip-path: inset(78% 0 6% 0);
            clip-path: inset(78% 0 6% 0);
  }
  72% {
    -webkit-clip-path: inset(1% 0 48% 0);
            clip-path: inset(1% 0 48% 0);
  }
  76% {
    -webkit-clip-path: inset(73% 0 1% 0);
            clip-path: inset(73% 0 1% 0);
  }
  80% {
    -webkit-clip-path: inset(80% 0 7% 0);
            clip-path: inset(80% 0 7% 0);
  }
  84% {
    -webkit-clip-path: inset(14% 0 81% 0);
            clip-path: inset(14% 0 81% 0);
  }
  88% {
    -webkit-clip-path: inset(83% 0 1% 0);
            clip-path: inset(83% 0 1% 0);
  }
  92% {
    -webkit-clip-path: inset(32% 0 60% 0);
            clip-path: inset(32% 0 60% 0);
  }
  96% {
    -webkit-clip-path: inset(86% 0 5% 0);
            clip-path: inset(86% 0 5% 0);
  }
  100% {
    -webkit-clip-path: inset(63% 0 17% 0);
            clip-path: inset(63% 0 17% 0);
  }
}
@keyframes glitch1 {
  0% {
    -webkit-clip-path: inset(65% 0 8% 0);
            clip-path: inset(65% 0 8% 0);
  }
  4% {
    -webkit-clip-path: inset(5% 0 70% 0);
            clip-path: inset(5% 0 70% 0);
  }
  8% {
    -webkit-clip-path: inset(60% 0 27% 0);
            clip-path: inset(60% 0 27% 0);
  }
  12% {
    -webkit-clip-path: inset(37% 0 18% 0);
            clip-path: inset(37% 0 18% 0);
  }
  16% {
    -webkit-clip-path: inset(42% 0 13% 0);
            clip-path: inset(42% 0 13% 0);
  }
  20% {
    -webkit-clip-path: inset(46% 0 9% 0);
            clip-path: inset(46% 0 9% 0);
  }
  24% {
    -webkit-clip-path: inset(34% 0 67% 0);
            clip-path: inset(34% 0 67% 0);
  }
  28% {
    -webkit-clip-path: inset(3% 0 26% 0);
            clip-path: inset(3% 0 26% 0);
  }
  32% {
    -webkit-clip-path: inset(2% 0 31% 0);
            clip-path: inset(2% 0 31% 0);
  }
  36% {
    -webkit-clip-path: inset(87% 0 2% 0);
            clip-path: inset(87% 0 2% 0);
  }
  40% {
    -webkit-clip-path: inset(15% 0 47% 0);
            clip-path: inset(15% 0 47% 0);
  }
  44% {
    -webkit-clip-path: inset(97% 0 2% 0);
            clip-path: inset(97% 0 2% 0);
  }
  48% {
    -webkit-clip-path: inset(48% 0 49% 0);
            clip-path: inset(48% 0 49% 0);
  }
  52% {
    -webkit-clip-path: inset(88% 0 11% 0);
            clip-path: inset(88% 0 11% 0);
  }
  56% {
    -webkit-clip-path: inset(31% 0 65% 0);
            clip-path: inset(31% 0 65% 0);
  }
  60% {
    -webkit-clip-path: inset(42% 0 58% 0);
            clip-path: inset(42% 0 58% 0);
  }
  64% {
    -webkit-clip-path: inset(17% 0 76% 0);
            clip-path: inset(17% 0 76% 0);
  }
  68% {
    -webkit-clip-path: inset(78% 0 6% 0);
            clip-path: inset(78% 0 6% 0);
  }
  72% {
    -webkit-clip-path: inset(1% 0 48% 0);
            clip-path: inset(1% 0 48% 0);
  }
  76% {
    -webkit-clip-path: inset(73% 0 1% 0);
            clip-path: inset(73% 0 1% 0);
  }
  80% {
    -webkit-clip-path: inset(80% 0 7% 0);
            clip-path: inset(80% 0 7% 0);
  }
  84% {
    -webkit-clip-path: inset(14% 0 81% 0);
            clip-path: inset(14% 0 81% 0);
  }
  88% {
    -webkit-clip-path: inset(83% 0 1% 0);
            clip-path: inset(83% 0 1% 0);
  }
  92% {
    -webkit-clip-path: inset(32% 0 60% 0);
            clip-path: inset(32% 0 60% 0);
  }
  96% {
    -webkit-clip-path: inset(86% 0 5% 0);
            clip-path: inset(86% 0 5% 0);
  }
  100% {
    -webkit-clip-path: inset(63% 0 17% 0);
            clip-path: inset(63% 0 17% 0);
  }
}
@-webkit-keyframes glitch2 {
  0% {
    -webkit-clip-path: inset(9% 0 71% 0);
            clip-path: inset(9% 0 71% 0);
  }
  4% {
    -webkit-clip-path: inset(2% 0 33% 0);
            clip-path: inset(2% 0 33% 0);
  }
  8% {
    -webkit-clip-path: inset(75% 0 19% 0);
            clip-path: inset(75% 0 19% 0);
  }
  12% {
    -webkit-clip-path: inset(97% 0 3% 0);
            clip-path: inset(97% 0 3% 0);
  }
  16% {
    -webkit-clip-path: inset(22% 0 59% 0);
            clip-path: inset(22% 0 59% 0);
  }
  20% {
    -webkit-clip-path: inset(74% 0 8% 0);
            clip-path: inset(74% 0 8% 0);
  }
  24% {
    -webkit-clip-path: inset(65% 0 11% 0);
            clip-path: inset(65% 0 11% 0);
  }
  28% {
    -webkit-clip-path: inset(6% 0 54% 0);
            clip-path: inset(6% 0 54% 0);
  }
  32% {
    -webkit-clip-path: inset(2% 0 6% 0);
            clip-path: inset(2% 0 6% 0);
  }
  36% {
    -webkit-clip-path: inset(10% 0 57% 0);
            clip-path: inset(10% 0 57% 0);
  }
  40% {
    -webkit-clip-path: inset(21% 0 46% 0);
            clip-path: inset(21% 0 46% 0);
  }
  44% {
    -webkit-clip-path: inset(30% 0 9% 0);
            clip-path: inset(30% 0 9% 0);
  }
  48% {
    -webkit-clip-path: inset(25% 0 35% 0);
            clip-path: inset(25% 0 35% 0);
  }
  52% {
    -webkit-clip-path: inset(25% 0 35% 0);
            clip-path: inset(25% 0 35% 0);
  }
  56% {
    -webkit-clip-path: inset(14% 0 45% 0);
            clip-path: inset(14% 0 45% 0);
  }
  60% {
    -webkit-clip-path: inset(38% 0 15% 0);
            clip-path: inset(38% 0 15% 0);
  }
  64% {
    -webkit-clip-path: inset(5% 0 64% 0);
            clip-path: inset(5% 0 64% 0);
  }
  68% {
    -webkit-clip-path: inset(86% 0 9% 0);
            clip-path: inset(86% 0 9% 0);
  }
  72% {
    -webkit-clip-path: inset(17% 0 30% 0);
            clip-path: inset(17% 0 30% 0);
  }
  76% {
    -webkit-clip-path: inset(99% 0 2% 0);
            clip-path: inset(99% 0 2% 0);
  }
  80% {
    -webkit-clip-path: inset(20% 0 15% 0);
            clip-path: inset(20% 0 15% 0);
  }
  84% {
    -webkit-clip-path: inset(70% 0 30% 0);
            clip-path: inset(70% 0 30% 0);
  }
  88% {
    -webkit-clip-path: inset(36% 0 43% 0);
            clip-path: inset(36% 0 43% 0);
  }
  92% {
    -webkit-clip-path: inset(61% 0 33% 0);
            clip-path: inset(61% 0 33% 0);
  }
  96% {
    -webkit-clip-path: inset(50% 0 17% 0);
            clip-path: inset(50% 0 17% 0);
  }
  100% {
    -webkit-clip-path: inset(19% 0 47% 0);
            clip-path: inset(19% 0 47% 0);
  }
}
@keyframes glitch2 {
  0% {
    -webkit-clip-path: inset(9% 0 71% 0);
            clip-path: inset(9% 0 71% 0);
  }
  4% {
    -webkit-clip-path: inset(2% 0 33% 0);
            clip-path: inset(2% 0 33% 0);
  }
  8% {
    -webkit-clip-path: inset(75% 0 19% 0);
            clip-path: inset(75% 0 19% 0);
  }
  12% {
    -webkit-clip-path: inset(97% 0 3% 0);
            clip-path: inset(97% 0 3% 0);
  }
  16% {
    -webkit-clip-path: inset(22% 0 59% 0);
            clip-path: inset(22% 0 59% 0);
  }
  20% {
    -webkit-clip-path: inset(74% 0 8% 0);
            clip-path: inset(74% 0 8% 0);
  }
  24% {
    -webkit-clip-path: inset(65% 0 11% 0);
            clip-path: inset(65% 0 11% 0);
  }
  28% {
    -webkit-clip-path: inset(6% 0 54% 0);
            clip-path: inset(6% 0 54% 0);
  }
  32% {
    -webkit-clip-path: inset(2% 0 6% 0);
            clip-path: inset(2% 0 6% 0);
  }
  36% {
    -webkit-clip-path: inset(10% 0 57% 0);
            clip-path: inset(10% 0 57% 0);
  }
  40% {
    -webkit-clip-path: inset(21% 0 46% 0);
            clip-path: inset(21% 0 46% 0);
  }
  44% {
    -webkit-clip-path: inset(30% 0 9% 0);
            clip-path: inset(30% 0 9% 0);
  }
  48% {
    -webkit-clip-path: inset(25% 0 35% 0);
            clip-path: inset(25% 0 35% 0);
  }
  52% {
    -webkit-clip-path: inset(25% 0 35% 0);
            clip-path: inset(25% 0 35% 0);
  }
  56% {
    -webkit-clip-path: inset(14% 0 45% 0);
            clip-path: inset(14% 0 45% 0);
  }
  60% {
    -webkit-clip-path: inset(38% 0 15% 0);
            clip-path: inset(38% 0 15% 0);
  }
  64% {
    -webkit-clip-path: inset(5% 0 64% 0);
            clip-path: inset(5% 0 64% 0);
  }
  68% {
    -webkit-clip-path: inset(86% 0 9% 0);
            clip-path: inset(86% 0 9% 0);
  }
  72% {
    -webkit-clip-path: inset(17% 0 30% 0);
            clip-path: inset(17% 0 30% 0);
  }
  76% {
    -webkit-clip-path: inset(99% 0 2% 0);
            clip-path: inset(99% 0 2% 0);
  }
  80% {
    -webkit-clip-path: inset(20% 0 15% 0);
            clip-path: inset(20% 0 15% 0);
  }
  84% {
    -webkit-clip-path: inset(70% 0 30% 0);
            clip-path: inset(70% 0 30% 0);
  }
  88% {
    -webkit-clip-path: inset(36% 0 43% 0);
            clip-path: inset(36% 0 43% 0);
  }
  92% {
    -webkit-clip-path: inset(61% 0 33% 0);
            clip-path: inset(61% 0 33% 0);
  }
  96% {
    -webkit-clip-path: inset(50% 0 17% 0);
            clip-path: inset(50% 0 17% 0);
  }
  100% {
    -webkit-clip-path: inset(19% 0 47% 0);
            clip-path: inset(19% 0 47% 0);
  }
}
/*==========*/
