body {
  background: -webkit-gradient(linear, left top, left bottom, from(#2f2f2f), color-stop(#000000), to(#2f2f2f));
  background: linear-gradient(#2f2f2f, #000000, #2f2f2f);
}
main {
  background-color: black;
  color: #55ff00;
  font-family: monospace;
  font-size: 4em;
  margin: 3em;
  padding: 2em;
  border: solid white 0.1em;
  border-radius: 0.5em;
}
.linkCalc {
  text-align: center;
  margin-top: 3em;
}
a {
  font-size: 3em;
  padding: 0.5em;
  background: #dcdcdc;
  color: black;
  border-radius: 0.3em;
}
a:hover {
  background: #d2ff94;
}
